In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Import merged data from reading part
df_prods_ords = pd.read_csv(r'/Users/pgtips/Desktop/Instacart Basket Analysis/02.Data/Original Data/order_products__prior.csv', index_col = False)

In [3]:
df_prods_ords.shape

(32434489, 4)

In [4]:
df_prods_ords.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Import prep order data
df_ords=pd.read_csv(r'/Users/pgtips/Desktop/Instacart Basket Analysis/02.Data/Prepared Data/orders.csv', index_col = False)

In [6]:
df_ords.shape

(3421083, 8)

In [7]:
df_ords.head()

,Unnamed: 0,order_id,user_id,number,days,hours,days_since_order,days_since_prior_order
0,0,2539329,1,1,2,8,0.0,0.0
1,1,2398795,1,2,3,7,15.0,15.0
2,2,473747,1,3,3,12,21.0,21.0
3,3,2254736,1,4,4,7,29.0,29.0
4,4,431534,1,5,4,15,28.0,28.0

In [9]:
df_ords = df_ords.drop(['Unnamed: 0'], axis=1)

In [12]:
df_ords = df_ords.drop(['days_since_order'], axis=1)

In [13]:
df_ords.head()

   order_id  user_id  number  days  hours  days_since_prior_order
0   2539329        1       1     2      8                     0.0
1   2398795        1       2     3      7                    15.0
2    473747        1       3     3     12                    21.0
3   2254736        1       4     4      7                    29.0
4    431534        1       5     4     15                    28.0

In [14]:
df_merged_large=pd.merge(df_ords,df_prods_ords, on = ['order_id'], how = 'inner', indicator = True)

In [15]:
df_merged_large.shape

(32434489, 10)

In [16]:
df_merged_large

,order_id,user_id,number,days,hours,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

In [17]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
df_merged_large.to_pickle(r'/Users/pgtips/Desktop/Instacart Basket Analysis/02.Data/Prepared Data/ords_prods.pkl')