Based on customer behaviour we transform metric variable into new ordinal varibales to easier understand and demonstrate customers behaviour (spending, loyalty,...) and demographics (generation, regions,...)

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
path='/Users/pgtips/Desktop/Instacart Basket Analysis/05 Sent to Clint'

# Importing merged df

In [5]:
df = pd.read_pickle(os.path.join(path,'Prepared Data','df_merge.pkl'))

In [6]:
df.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered', 'user_id',
       'order_number', 'orders_day_of_week', 'order_hour_of_day',
       'days_since_prior_order', 'product_name', 'aisle_id', 'department_id',
       'prices', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income'],
      dtype='object')

In [7]:
df.dtypes

order_id                    int64
product_id                  int64
add_to_cart_order           int64
reordered                   int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
order_hour_of_day           int64
days_since_prior_order    float64
product_name               object
aisle_id                    int64
department_id              object
prices                    float64
Gender                     object
STATE                      object
Age                         int64
date_joined                object
n_dependants                int64
fam_status                 object
income                      int64
dtype: object

## Creating a price range for products

In [8]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 

df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [9]:
df['price_range_loc'].value_counts(dropna=False)

Mid-range product     21200792
Low-range product      9818904
High-range product      402037
Name: price_range_loc, dtype: int64

## Creating new ordinal variable based on which are the busiest days of the week

In [10]:
df['orders_day_of_week'].value_counts()

0    6057030
1    5485462
6    4382352
2    4075956
5    4063144
3    3707681
4    3650108
Name: orders_day_of_week, dtype: int64

In [50]:
df.loc[df['orders_day_of_week']==0,'orders_day_of_week_name']= 'Saturday'
df.loc[df['orders_day_of_week']==1,'orders_day_of_week_name']= 'Sunday'
df.loc[df['orders_day_of_week']==2,'orders_day_of_week_name']= 'Monday'
df.loc[df['orders_day_of_week']==3,'orders_day_of_week_name']= 'Thuesday'
df.loc[df['orders_day_of_week']==4,'orders_day_of_week_name']= 'Wednesday'
df.loc[df['orders_day_of_week']==5,'orders_day_of_week_name']= 'Thursday'
df.loc[df['orders_day_of_week']==6,'orders_day_of_week_name']= 'Friday'

In [11]:
result = []
for value in df ['orders_day_of_week']:
    if value == 0:
        result.append ("busiest days")
    elif value == 1:
        result.append ('busiest days')
    elif value == 3:
        result.append ('least busy')
    elif value == 4:
        result.append ('least busy')
    else:
        result.append ('regular day')

In [12]:
df['busy_days'] = result

In [13]:
df['busy_days'].value_counts(dropna=False)

regular day     12521452
busiest days    11542492
least busy       7357789
Name: busy_days, dtype: int64

## Creating similar ordinal variable based on on what time of the day people order the most goods

In [14]:
df['order_hour_of_day'].value_counts()

10    2670814
11    2650910
14    2611808
15    2584984
13    2581818
12    2541829
16    2464983
9     2369163
17    2031026
8     1656048
18    1593495
19    1225863
20     948404
7      855144
21     772816
22     616296
23     390424
6      278412
0      213404
1      112329
5       84364
2       66996
4       51041
3       49362
Name: order_hour_of_day, dtype: int64

In [15]:
new_results = []

for value in df["order_hour_of_day"]:
    if value >= 9:
        new_results.append ('Most orders')
    elif value <=6:
        new_results.append ('Fewest orders')
    else:
        new_results.append ('Average orders')

In [16]:
df['busy_hours']=new_results

In [17]:
df['busy_hours'].value_counts()

Most orders       28054633
Average orders     2511192
Fewest orders       855908
Name: busy_hours, dtype: int64

## Creating a loyalty flag to identify loyal customers based on there max orders

In [18]:
df['max_order'] = df.groupby(['user_id'])['order_number'].transform(np.max)

In [19]:
df.loc[df ['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

df.loc[(df ['max_order'] <= 40) & (df['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

df.loc[df['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
df['loyalty_flag'].value_counts(dropna=False)

Regular customer    15711533
Loyal customer       9508203
New customer         6201997
Name: loyalty_flag, dtype: int64

## Creating a spending_flag based on average price the customers pay

In [21]:
df['aver_price'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [22]:
df.loc[df['aver_price']< 10, 'spending_flag'] = 'low spender'

In [23]:
df.loc[df['aver_price']>= 10, 'spending_flag'] = 'high spender'

In [24]:
df['spending_flag'].value_counts()

low spender     31303292
high spender      118441
Name: spending_flag, dtype: int64

## Creating frequency based on how often (median) customers order per month

In [25]:
df['days_since_prior_order'].value_counts(dropna=False)

7.0     3411696
30.0    3037184
6.0     2454932
NaN     2059130
5.0     2041768
4.0     1961343
8.0     1897260
3.0     1734487
2.0     1322568
9.0     1197306
14.0    1016780
10.0     949376
13.0     839052
1.0      836534
11.0     806707
12.0     762112
15.0     662984
16.0     455030
21.0     439303
0.0      406863
17.0     377587
20.0     375138
18.0     346247
19.0     330190
22.0     305245
28.0     250857
23.0     223246
27.0     202130
24.0     191464
25.0     178109
26.0     175418
29.0     173687
Name: days_since_prior_order, dtype: int64

In [26]:
df['days_since_prior_order'] = df['days_since_prior_order'].fillna(0)

In [27]:
df['median_prior_order'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
df.loc[df['median_prior_order'] > 20, 'freq_customer'] = 'Non-frequent customer'

In [29]:
df.loc[(df['median_prior_order'] > 10) & (df['median_prior_order'] <= 20) , 'freq_customer'] = 'Regular customer'

In [30]:
df.loc[df['median_prior_order'] <= 10, 'freq_customer'] = 'Frequent customer'

In [31]:
df.loc[df['median_prior_order'] == 0, 'freq_customer'] = 'New customer'

In [32]:
df['freq_customer'].value_counts(dropna = False)

Frequent customer        21802320
Regular customer          6842732
Non-frequent customer     2660575
New customer               116106
Name: freq_customer, dtype: int64

## Clustering customers based on age into generations (z,x,y,...)

In [33]:
generation = []

for value in df['Age']:
    if (value >=18) and (value <=25):
        generation.append('Gen Z (18-25)')
    elif (value >=26) and (value <=41):
        generation.append('Millennials (26-41)')
    elif (value >=42) and (value <=57):
        generation.append('Gen X (42-57)')
    elif (value >=58) and (value<=76):
        generation.append('Baby Boomers (58-76)')
    else:
        generation.append('Silent Generation (>76)')

In [34]:
df['generation']=generation

In [35]:
df['generation'].value_counts(dropna=False)

Baby Boomers (58-76)       9223655
Gen X (42-57)              7922526
Millennials (26-41)        7874357
Gen Z (18-25)              3935340
Silent Generation (>76)    2465855
Name: generation, dtype: int64

## Assinging Regions(North,West,...) based on customers states

In [36]:
df.rename(columns = {'STATE':'State'}, inplace = True)

In [37]:
#Northeast regions
df.loc[df['State'].str.contains('Connecticut'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('Maine'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('Massachusetts'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('New Hampshire'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('Rhode Island'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('Vermont'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('New Jersey'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('New York'), 'Region'] = 'Northeast'
df.loc[df['State'].str.contains('Pennsylvania'), 'Region'] = 'Northeast'

# Midwest
df.loc[df['State'].str.contains('Illinois'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Indiana'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Michigan'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Ohio'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Wisconsin'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Iowa'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Kansas'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Minnesota'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Missouri'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('Nebraska'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('North Dakota'), 'Region'] = 'Midwest'
df.loc[df['State'].str.contains('South Dakota'), 'Region'] = 'Midwest'

# South
df.loc[df['State'].str.contains('Delaware'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Florida'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Georgia'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Maryland'), 'Region'] = 'South'
df.loc[df['State'].str.contains('North Carolina'), 'Region'] = 'South'
df.loc[df['State'].str.contains('South Carolina'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Virginia'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Washington, D.C.'), 'Region'] = 'South'
df.loc[df['State'].str.contains('West Virgina'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Alabama'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Kentucky'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Mississippi'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Tennessee'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Arkansas'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Louisiana'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Oklahoma'), 'Region'] = 'South'
df.loc[df['State'].str.contains('Texas'), 'Region'] = 'South'

# West
df.loc[df['State'].str.contains('Arizona'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Colorado'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Idaho'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Montana'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Nevada'), 'Region'] = 'West'
df.loc[df['State'].str.contains('New Mexico'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Utah'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Wyoming'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Alaska'), 'Region'] = 'West'
df.loc[df['State'].str.contains('California'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Hawaii'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Oregon'), 'Region'] = 'West'
df.loc[df['State'].str.contains('Washington'), 'Region'] = 'West'

In [38]:
df.loc[df['State'].str.contains('District of Columbia'), 'Region'] = 'District of Columbia'

In [39]:
df['Region'].value_counts(dropna=False)

South                   9862247
West                    8042373
Midwest                 7367917
Northeast               5553334
District of Columbia     595862
Name: Region, dtype: int64

## Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data

In [40]:
df.loc[df['order_number']<5, 'activity'] = 'low activity'
df.loc[df['order_number']>= 5, 'activity'] = 'high activity'

In [41]:
df['activity'].value_counts(dropna=False)

high activity    23497108
low activity      7924625
Name: activity, dtype: int64

## Creating a name for the departments

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'

In [42]:
df['department_id']=df['department_id'].astype(int)

In [43]:
df.loc[df['department_id']==1,'department_name'] ='frozen'
df.loc[df['department_id']==2,'department_name'] ='other'
df.loc[df['department_id']==3,'department_name'] ='bakery'
df.loc[df['department_id']==4,'department_name'] ='produce'
df.loc[df['department_id']==5,'department_name'] ='alcohol'
df.loc[df['department_id']==6,'department_name'] ='international'
df.loc[df['department_id']==7,'department_name'] ='beverages(non alc.)'
df.loc[df['department_id']==8,'department_name'] ='pets'
df.loc[df['department_id']==9,'department_name'] ='dry goods pasta'
df.loc[df['department_id']==10,'department_name'] ='bulk'
df.loc[df['department_id']==11,'department_name'] ='personal care'
df.loc[df['department_id']==12,'department_name'] ='meat seafool'
df.loc[df['department_id']==13,'department_name'] ='pantry'
df.loc[df['department_id']==14,'department_name'] ='breakfast'
df.loc[df['department_id']==15,'department_name'] ='canned goods'
df.loc[df['department_id']==16,'department_name'] ='dairy eggs'
df.loc[df['department_id']==17,'department_name'] ='household'
df.loc[df['department_id']==18,'department_name'] ='babies'
df.loc[df['department_id']==19,'department_name'] ='snacks'
df.loc[df['department_id']==20,'department_name'] ='deli'
df.loc[df['department_id']==21,'department_name'] ='missing'

In [44]:
df['department_name'].value_counts(dropna=False)

produce                9200265
dairy eggs             5230967
snacks                 2797901
beverages(non alc.)    2602821
frozen                 2175695
pantry                 1814462
bakery                 1134470
canned goods           1037416
deli                   1022632
dry goods pasta         842353
household               712841
meat seafool            690537
breakfast               681962
personal care           433733
babies                  409382
international           260673
alcohol                 145239
pets                     94400
missing                  65615
other                    34908
bulk                     33461
Name: department_name, dtype: int64

## Creating household type based on number of dependents

In [45]:
df['n_dependants'].value_counts()

3    7889970
1    7844525
2    7843719
0    7843519
Name: n_dependants, dtype: int64

In [46]:
df.loc[df['n_dependants']==0, 'household_type']='single'
df.loc[df['n_dependants']==1, 'household_type']='couple'
df.loc[df['n_dependants']>=2, 'household_type']='family'

In [47]:
df['household_type'].value_counts(dropna=False)

family    15733689
couple     7844525
single     7843519
Name: household_type, dtype: int64

In [48]:
df.shape

(31421733, 34)

In [51]:
df.to_pickle(r'/Users/pgtips/Desktop/Instacart Basket Analysis/05 Sent to Clint/Prepared Data/df.pkl')