In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/pgtips/Desktop/Instacart Basket Analysis/02.Data/Original Data'

# Customer_df

In [31]:
df_custs = pd.read_csv(os.path.join(path, 'customers.csv'), index_col = False)

In [32]:
df_custs.shape

(206209, 10)

In [33]:
df_custs.head(1)

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665

In [34]:
df_custs.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

##### We have to change the dtype of  and 'user_id' as its a unique combination of numbers, to make sure that the system doesnt see it as numbers

In [35]:
df_custs['user_id'] = df_custs['user_id'].astype(str)

In [36]:
df_custs.dtypes

user_id         object
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

##### Since changing the dtype we can check for mixed dtypes with the code below

In [37]:
for col in df_custs.columns.tolist():
  weird = (df_custs[[col]].applymap(type) != df_custs[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_custs[weird]) > 0:
    print (col)

First Name

##### thats fine since first names could be dobble

### Missing Values

In [38]:
df_custs.isnull().sum()

user_id             0
First Name      11259
Surnam              0
Gender              0
STATE               0
Age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

##### its fine for our analysis to not have all names

# PII

##### In order to confine with the law and ethics we have to delete the columns Surname and First Name in order to proctect our customers. The unique user_id give us more then enouth for our analysis and helps protect our customers

In [39]:
df_custs = df_custs.drop(['First Name','Surnam'],axis=1)

In [40]:
df_custs.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income'],
      dtype='object')

##### Now that we drop names we can provided with duplicate check

### Duplicates

In [41]:
df_dups_custs = df_custs[df_custs.duplicated()]

In [42]:
df_dups_custs.shape

(0, 8)

##### No duplicates been found

### Descriptive Stat

In [43]:
df_custs.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

           Age n_dependants   income
count   206209       206209   206209
mean   49.5016      1.49982  94632.9
std     18.481      1.11843  42473.8
min         18            0    25903
25%         33            0    59874
50%         49            1    93547
75%         66            3   124244
max         81            3   593901

In [44]:
df_outliner = df_custs[df_custs['income'] >= 220000]

In [45]:
df_outliner.shape

(878, 8)

In [46]:
df_custs = df_custs[df_custs['income'] <=220000]

In [47]:
df_custs.shape

(205331, 8)

In [48]:
df_custs.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

           Age n_dependants   income
count   205331       205331   205331
mean   49.4793      1.49977  93640.7
std    18.4865      1.11844  39284.8
min         18            0    25903
25%         33            0    59753
50%         49            1    93371
75%         65            3   123655
max         81            3   219959

In [49]:
df_custs.to_csv(r'/Users/pgtips/Desktop/Instacart Basket Analysis/05 Sent to Clint/Prepared Data/customers.csv', index = False)