In [19]:
import pandas as pd
import numpy as np
import os

In [20]:
df_dep = pd.read_csv((r'/Users/pgtips/Desktop/Instacart Basket Analysis/05 Sent to Clint/Original Data copy/departments.csv'), index_col = False)

In [21]:
df_dep = df_dep.T

In [22]:
# Resetting column header
df_dep.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [23]:
new_header = df_dep.iloc[0]

In [24]:
# creating new header
new_header

0    department
Name: department_id, dtype: object

In [25]:
df_dep.head()

                        0
department_id  department
1                  frozen
2                   other
3                  bakery
4                 produce

In [26]:
df_dep = df_dep[1:]

In [27]:
df_dep.head()

         0
1   frozen
2    other
3   bakery
4  produce
5  alcohol

In [28]:
df_dep.columns = new_header

In [29]:
df_dep

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [30]:
df_dep.dtypes

department_id
department    object
dtype: object

In [36]:
df_dep.to_csv(r'/Users/pgtips/Desktop/Instacart Basket Analysis/05 Sent to Clint/Prepared Data/departments.csv', index = False)

In [37]:
# Creating a data dictonary
data_dict = df_dep.to_dict('index')

In [17]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}