In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/pgtips/Desktop/Instacart Basket Analysis/02.Data/Original Data'

# order_products_prior_df

In [3]:
df_ord_prod = pd.read_csv(os.path.join(path,'order_products__prior.csv'),index_col = False)

In [4]:
df_ord_prod.shape

(32434489, 4)

In [5]:
df_ord_prod.head(1)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1

In [6]:
df_ord_prod.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

##### We have to change the dtype of all 'id' in order to merge

In [7]:
df_ord_prod['product_id'] = df_ord_prod['product_id'].astype(str)
df_ord_prod['order_id'] = df_ord_prod['order_id'].astype(str)

In [8]:
df_ord_prod.dtypes

order_id             object
product_id           object
add_to_cart_order     int64
reordered             int64
dtype: object

# Duplicates

In [9]:
for col in df_ord_prod.columns.tolist():
  weird = (df_ord_prod[[col]].applymap(type) != df_ord_prod[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ord_prod[weird]) > 0:
    print (col)

##### no duplicates

### Missing Values

In [10]:
df_ord_prod.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

##### no missing values

### Descriptive Stat

In [11]:
df_ord_prod.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

      add_to_cart_order    reordered
count       3.24345e+07  3.24345e+07
mean            8.35108     0.589697
std             7.12667     0.491889
min                   1            0
25%                   3            0
50%                   6            1
75%                  11            1
max                 145            1

In [30]:
df_ord_prod_outliner = df_ord_prod[df_ord_prod['add_to_cart_order']>=40]

In [31]:
df_ord_prod_outliner.shape

(91828, 4)

##### We clean routhly 0. 3% of the data frame

In [32]:
df_ord_prod = df_ord_prod[df_ord_prod['add_to_cart_order']<=40]

In [34]:
df_ord_prod.shape

(32332262, 4)

In [35]:
df_ord_prod.describe().apply(lambda s: s.apply(lambda x: format(x, 'g')))

      add_to_cart_order    reordered
count       3.23323e+07  3.23323e+07
mean            8.22476     0.590272
std             6.75543     0.491783
min                   1            0
25%                   3            0
50%                   6            1
75%                  11            1
max                  40            1

In [33]:
df_ord_prod.to_csv(r'/Users/pgtips/Desktop/Instacart Basket Analysis/05 Sent to Clint/Prepared Data/order_products_prior.csv', index = False)

In [36]:
df_ord_prod.shape

(32332262, 4)